.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2e2e2e;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.button-sign-in {
  background-color: transparent;
}
.button-sign-in:hover {
  border-color: transparent;
  color: #959595;
}

.button-sign-up {
  background-color: transparent;
  border-color: #ffffff;
}
.button-sign-up:hover {
  border-color: #959595;
  color: #959595;
}

.button-sign-in,
.button-sign-up,
.button-logout {
  font-size: 0.9em;
  padding: 0.3em 1.2em;
  height: 40px;
}

.navbar-left > * {
  margin-right: 15px;
}

.website-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
