.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2e2e2e;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.button-sign-in {
  background-color: transparent;
}
.button-sign-in:hover {
  border-color: transparent;
  color: #959595;
}

.button-sign-up {
  background-color: transparent;
  border-color: #ffffff;
}
.button-sign-up:hover {
  border-color: #959595;
  color: #959595;
}

.button-sign-in,
.button-sign-up,
.button-logout {
  font-size: 0.9em;
  padding: 0.3em 1.2em;
  height: 40px;
}

.navbar-left > * {
  margin-right: 15px;
}

.website-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-profile-container {
  position: relative;
}

.user-options-box {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0.3em;
  background: var(--background-color-options);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.user-options-box a,
.user-options-box button {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.user-options-box a:hover,
.user-options-box button:hover {
  background-color: var(--background-color-options-hover);
}

.profile-picture {
  cursor: pointer;
}
