:root {
  --background-color-default: #353535;
  --background-color-hover: #232323;
  --background-color-selected: #232323;
  --background-color-options: rgb(63, 63, 63);
  --background-color-options-hover: #737373;
}

.sessions-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  max-width: 300px;
  background-color: var(--background-color-default);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sessions-list.open {
  transform: translateX(0);
}

.sessions-toggle {
  position: absolute;
  padding-left: 10px;
  width: 87%;
  display: flex;
  justify-content: space-between;
}

.button-toggle,
.button-create {
  width: 40px;
  padding: 0.5em;
}

.sessions-content {
  flex-grow: 1;
  margin-top: 50px;
}

.sessions-container {
  display: flex;
  flex-direction: column;
}

.session {
  cursor: pointer;
  padding: 0.4em 1.2em;
  border-radius: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-default);
}

.session:hover,
.session.selected {
  background-color: var(--background-color-hover);
}

.session input {
  height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.session-name-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  word-break: break-word;
}

.session-name {
  white-space: pre-wrap;
}

.session-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.session-options {
  width: 14px;
  display: none;
}

.session.selected .session-options,
.session:hover .session-options {
  display: inline;
}

.options-box {
  padding: 0.3em;
  position: absolute;
  background: var(--background-color-options);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border-radius: 15px;
}

.options-box button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.options-box button:hover {
  background-color: var(--background-color-options-hover);
}